@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
  font-family: 'Montserrat Alternates' , sans-serif ;
  background-color: #131722;
  color: white;
}
.brdr{
  height: 1px;
  background-color: #a8a8a83d;
}


.page-item,.show{
  cursor: pointer !important;
}

// .show{

// }
